<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">上传</div>
                <div class="right">
                    <a @click="save" href="#" class="link">保存</a>
                </div>
            </div>
        </div>
        <div id="self-xiangce-upload" class="page-content">
            <div class="list form-store-data no-margin">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <input type="text" placeholder="请选择相册" readonly="readonly" class="selxiangce" />
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <textarea name="content" class="content" placeholder="描述"></textarea>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">添加照片</div>
                            <div class="item-input-wrap">
                                <div class="imgs row block justify-content-flex-start img-content no-margin">
                                    <a @click="addImg()" href="#" class="col-25 margin">
                                        <img src="./img/addimg.svg" alt="" width="100%">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .img-content {
        padding: 0;
    }
</style>
<script>
    return {
        data: function () {
            return {
                addImgTemplates: Template7.compile(app.methods.getTemplate('addimg')),
                cameraTemplates: app.methods.getTemplate('camera'),
                photolibTemplates: app.methods.getTemplate('photolib'),
                imgs: [],
            }
        },
        methods: {
            save: function () {
                var self = this;
                var albumId;
                if (self.pickerAlbum.getValue()) {
                    albumId = self.pickerAlbum.getValue()[0];
                } else {
                    app.dialog.alert('请选择相册');
                    return;
                }

                if (self.imgs.length > 0) {
                    var aid = [];
                    var options = new FileUploadOptions();
                    options.fileKey = "uploadFile[]";
                    options.mimeType = "image/jpeg";
                    options.params = {
                        r: 'forum/sendattachmentex',
                        type: 'image',
                        module: 'album',
                        accessToken: Template7.global.user.token,
                        accessSecret: Template7.global.user.secret,
                    };
                    async.each(self.imgs, function (img, callback) {
                        options.fileName = img.substr(img.lastIndexOf('/') + 1, img.lastIndexOf(
                            '.')) + '.jpeg';
                        var ft = new FileTransfer();
                        ft.upload(img, mobcent, function (r) {
                                var res = JSON.parse(r['response']);
                                if (res['rs'] && res['body']['attachment']['length'] >
                                    0) {
                                    aid.push(res['body']['attachment'][0]['id']);
                                }
                                callback(null);
                            },
                            function (err) {
                                console.log(err);
                                callback(null);
                            },
                            options);
                    }, function (err) {
                        app.f7Net.post(api, {
                            r: 'user/savealbum',
                            ids: aid.join(),
                            picDesc: $$('#self-xiangce-upload .content').val(),
                            albumId: albumId,
                            accessToken: Template7.global.user.token,
                            accessSecret: Template7.global.user.secret,
                        }, function (data) {
                            app.dialog.alert(data.head.errInfo, function () {
                                self.$router.back();
                            });
                        });
                    });
                } else {
                    app.dialog.alert('请添加照片');
                    return;
                }
            },
            addImg: function () {
                var self = this;
                self.chooseImg.open();
            },
            reImg: function () {
                var self = this;
                self.imgsEl.find('.add-img').remove();

                var h = '';
                for (var i = 0; i < self.imgs.length; i++) {
                    h += self.addImgTemplates({
                        img: self.imgs[i],
                        idx: i
                    });
                }

                self.imgsEl.prepend(h);
            },
        },
        on: {
            pageMounted: function (e, page) {

            },
            pageInit: function (e, page) {
                var self = this;

                self.chooseImg = app.actions.create({
                    buttons: [{
                            text: self.photolibTemplates,
                            onClick: function (actions, e) {
                                app.f7Media.getImgFromPhotoLib(function (img) {
                                    self.imgs.push(img);
                                    self.reImg();
                                });
                            }
                        },
                        {
                            text: self.cameraTemplates,
                            onClick: function (actions, e) {
                                app.f7Media.getImgFromCamera(function (img) {
                                    self.imgs.push(img);
                                    self.reImg();
                                });
                            }
                        },
                    ]
                });

                self.imgsEl = self.$el.find('#self-xiangce-upload .imgs');
                self.imgsEl.on('click', '.remove-img', function (e) {
                    var idx = $$(this).data('idx');
                    self.imgs.splice(idx, 1);
                    self.reImg();
                });

                setTimeout(function () {
                    var values = [];
                    var displayValues = [];
                    for (var i = 0; i < app.data.cache.albums.length; i++) {
                        var album = app.data.cache.albums[i];

                        if (album) {
                            values.push(album[0].album_id);
                            displayValues.push(album[0].title);
                        }
                    }

                    self.pickerAlbum = app.picker.create({
                        inputEl: '#self-xiangce-upload .selxiangce',
                        formatValue: function (values, displayValues) {
                            return displayValues[0];
                        },
                        cols: [{
                            textAlign: 'center',
                            values: values,
                            displayValues: displayValues,
                        }]
                    });
                }, 1000);
            },
            pageBeforeIn: function (e, page) {

            },
            pageAfterIn: function (e, page) {

            },
            pageBeforeOut: function (e, page) {

            },
            pageAfterOut: function (e, page) {

            },
            pageBeforeRemove: function (e, page) {
                if (navigator.camera)
                    navigator.camera.cleanup();
            },
        }
    }
</script>