<template>
    <div class="page">
        <div class="page-content">
            <div class="list media-list no-margin no-padding">
                {{#each boards}}
                <div class="row">
                    <button class="col button button-fill opacity-6">{{board_category_name}}</button>
                </div>
                <div class="row">
                    {{#each board_list}}
                    <a href="/board/list/?board_id={{board_id}}" class="col-50 item-link item-content" style="height:72px;">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">{{board_name}}</div>
                                <div class="item-after text-color-blue">{{td_posts_num}}</div>
                            </div>
                            <div class="item-text">{{js "this.last_posts_date ? timeago.format(this.last_posts_date) : ''"}}</div>
                        </div>
                    </a>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
<style scoped>
    .row .button {
        border-radius: 0;
    }
</style>
<script>
    return {
        data: function () {
            return {

            }
        },
        methods: {

        },
        on: {
            'tab:mounted': function () {

            },
            'tab:init': function () {

            },
            'tab:beforeremove': function () {

            },
        }
    }
</script>