<template>
    <div class="page">
        <div class="page-content ptr-content infinite-scroll-content">
            <div class="list media-list virtual-list no-margin no-hairlines">
            </div>
        </div>
</template>
<style scoped>
</style>
<script>
    return {
        data: function () {
            return {
                itemTemplate: app.methods.getTemplate('topic'),
                emptyTemplate: app.methods.getTemplate('empty'),
                allowLoad: true,
                hasMore: true,
                page: 1,
            }
        },
        methods: {
            reload: function () {
                var self = this;
                if (self.allowLoad) {
                    self.allowLoad = false;
                    self.page = 1;
                    app.f7Net.json(api, {
                            r: 'forum/topiclist',
                            page: self.page,
                            pageSize: app.data.pageSize
                        },
                        function (data) {
                            self.allowLoad = true;
                            self.hasMore = data.list.length == app.data.pageSize;
                            self.vl.deleteAllItems();
                            self.vl.appendItems(data.list);
                        },
                        function () {
                            self.allowLoad = true;
                        });
                }
            },
        },
        on: {
            'ptr:refresh': function (e, done) {
                var self = this;
                self.reload();
                done();
            },
            'infinite': function () {
                var self = this;
                if (self.allowLoad && self.hasMore) {
                    self.allowLoad = false;
                    self.page += 1;
                    app.f7Net.json(api, {
                        r: 'forum/topiclist',
                        page: self.page,
                        pageSize: app.data.pageSize
                    }, function (data) {
                        self.allowLoad = true;
                        self.hasMore = data.list.length == app.data.pageSize;
                        self.vl.appendItems(data.list);
                    }, function () {
                        self.allowLoad = true;
                    });
                }
            },
            'tab:show': function (e) {

            },
            'tab:mounted': function () {

            },
            'tab:init': function () {
                var self = this;
                var vlEl = self.$el.find('.virtual-list');
                self.vl = self.$app.virtualList.create({
                    el: vlEl,
                    items: [],
                    rowsBefore: app.data.pageSize,
                    rowsAfter: app.data.pageSize,
                    height: app.data.tmpTopicH,
                    itemTemplate: self.itemTemplate,
                    emptyTemplate: self.emptyTemplate
                });
                self.reload();
            },
            'tab:beforeremove': function () {

            },
        }
    }
</script>