<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left"></div>
                <div id="index-title" class="title">{{title}}</div>
                <div class="right">
                    <a href="{{#if uid}}/self/{{else}}/login/{{/if}}" class="link right-user">
                        <img class="lazy max-32" src="{{#if uid}}{{@global.user.avatar}}{{else}}./img/user.svg{{/if}}">
                    </a>
                    <a href="/search/" class="link right-search">
                        <img src="./img/search.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="toolbar tabbar tabbar-labels">
            <div class="toolbar-inner">
                <a href="/" class="tab-link" data-route-tab-id="home">
                    <i class="icon iconfont icon-shouye"></i>
                    <span class="tabbar-label">首页</span>
                </a>
                <a href="/board/" class="tab-link" data-route-tab-id="board">
                    <i class="icon iconfont icon-ai-module"></i>
                    <span class="tabbar-label">板块</span>
                </a>
                <a href="#" class="tab-link sheet-open" data-sheet=".tools-sheet">
                    <i class="tool iconfont icon-add"></i>
                </a>
                <a href="/message/" class="tab-link" data-route-tab-id="message">
                    {{#if heart}}
                    {{#if heart.total}}
                    <span class="badge color-red" style="position:absolute;top:-10px;right:10px;">{{heart.total}}</span>
                    {{/if}}
                    {{/if}}
                    <i class="icon iconfont icon-message"></i>
                    <span class="tabbar-label">消息</span>
                </a>
                <a href="/find/" class="tab-link" data-route-tab-id="find">
                    <i class="icon iconfont icon-find"></i>
                    <span class="tabbar-label">发现</span>
                </a>
            </div>
        </div>
        <div class="tabs tabs-routable">
            <div class="tab page-content" id="home"></div>
            <div class="tab page-content" id="board"></div>
            <div class="tab page-content" id="message"></div>
            <div class="tab page-content" id="find"></div>
        </div>
        {{#js_if "app.device.cordova"}}
        <div class="sheet-modal tools-sheet">
            <div class="sheet-modal-inner">
                <div class="row grid-card">
                    <a href="{{#if @global.user.uid}}/pub/{{else}}/login/{{/if}}" class="col-33 sheet-close">
                        <div class="card no-padding no-margin-bottom card-thumb">
                            <div style="background-image:url(./img/tool_wenzi.svg)" class="card-header align-items-flex-end"></div>
                            <div class="card-content">
                                <p class="text-align-center">文字</p>
                            </div>
                        </div>
                    </a>
                    <a href="{{#if @global.user.uid}}/pub/?action=tupian{{else}}/login/{{/if}}" class="col-33 sheet-close">
                        <div class="card no-padding no-margin-bottom card-thumb">
                            <div style="background-image:url(./img/tool_tupian.svg)" class="card-header align-items-flex-end"></div>
                            <div class="card-content">
                                <p class="text-align-center">图片</p>
                            </div>
                        </div>
                    </a>
                    <a href="{{#if @global.user.uid}}/pub/?action=paizhao{{else}}/login/{{/if}}" class="col-33 sheet-close">
                        <div class="card no-padding no-margin-bottom card-thumb">
                            <div style="background-image:url(./img/tool_paizhao.svg)" class="card-header align-items-flex-end"></div>
                            <div class="card-content">
                                <p class="text-align-center">拍照</p>
                            </div>
                        </div>
                    </a>
                    <a href="{{#if @global.user.uid}}/pub/?action=yuyin{{else}}/login/{{/if}}" class="col-33 sheet-close">
                        <div class="card no-padding no-margin-bottom card-thumb">
                            <div style="background-image:url(./img/tool_yuyin.svg)" class="card-header align-items-flex-end"></div>
                            <div class="card-content">
                                <p class="text-align-center">语音</p>
                            </div>
                        </div>
                    </a>
                    <a href="{{#if @global.user.uid}}/pub/?action=shipin{{else}}/login/{{/if}}" class="col-33 sheet-close">
                        <div class="card no-padding no-margin-bottom card-thumb">
                            <div style="background-image:url(./img/tool_shipin.svg)" class="card-header align-items-flex-end"></div>
                            <div class="card-content">
                                <p class="text-align-center">视频</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" @click="usersign" class="col-33 sheet-close">
                        <div class="card no-padding no-margin-bottom card-thumb">
                            <div style="background-image:url(./img/tool_qiandao.svg)" class="card-header align-items-flex-end"></div>
                            <div class="card-content">
                                <p class="text-align-center">签到</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="sheet-modal tools-sheet" style="height:160px;">
            <div class="sheet-modal-inner">
                <div class="row grid-card">
                    <a href="{{#if @global.user.uid}}/pub/{{else}}/login/{{/if}}" class="col-33 sheet-close">
                        <div class="card no-padding no-margin-bottom card-thumb">
                            <div style="background-image:url(./img/tool_wenzi.svg)" class="card-header align-items-flex-end"></div>
                            <div class="card-content">
                                <p class="text-align-center">发帖</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" @click="usersign" class="col-33 sheet-close">
                        <div class="card no-padding no-margin-bottom card-thumb">
                            <div style="background-image:url(./img/tool_qiandao.svg)" class="card-header align-items-flex-end"></div>
                            <div class="card-content">
                                <p class="text-align-center">签到</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="col-33"></a>
                </div>
            </div>
        </div>
        {{/js_if}}
    </div>
</template>
<style scoped>
    .tool {
        color: #007aff;
        font-size: 30px;
        text-align: center;
    }
</style>
<script>
    return {
        data: function () {
            return {
                heart: app.data.cache.heart,
                title: '首页'
            }
        },
        methods: {
            usersign: function () {
                var self = this;
                if (Template7.global.user.uid) {
                    app.f7Net.json(api, {
                        r: 'user/sign',
                        accessToken: Template7.global.user.token,
                        accessSecret: Template7.global.user.secret,
                    }, function (data) {
                        app.f7Popup.toast(data.head.errInfo);
                    });
                } else {
                    self.$router.navigate('/login/');
                }
            }
        },
        on: {
            pageMounted: function (e, page) {

            },
            pageInit: function (e, page) {
                var self = this;
                $$('.right-search').hide();
                self.curTab = '/';
                $$('.tab-link').on('click', function () {
                    self.curTab = $$(this).attr('href');
                    $$('.right-user,.right-search').hide();
                    if ('#' == self.curTab) {

                    } else if ('/' == self.curTab) {
                        $$('.right-user').show();
                        $$('#index-title').text('首页');
                    } else if ('/board/' == self.curTab) {
                        $$('.right-search').show();
                        $$('#index-title').text('板块');
                    } else if ('/message/' == self.curTab) {
                        $$('#index-title').text('消息');
                    } else if ('/find/' == self.curTab) {
                        $$('#index-title').text('发现');
                    }
                });
            },
            pageBeforeIn: function (e, page) {

            },
            pageAfterIn: function (e, page) {
                var self = this;
                self.$setState({
                    uid: Template7.global.user.uid,
                });
            },
            pageBeforeOut: function (e, page) {

            },
            pageAfterOut: function (e, page) {

            },
            pageBeforeRemove: function (e, page) {

            },
        }
    }
</script>