<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">举报</div>
                <div class="right">
                    <a @click="submit()" href="#" class="link">提交</a>
                </div>
            </div>
        </div>
        <div id="jubao" class="page-content">
            <div class="list form-store-data no-margin">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <input type="text" placeholder="请选择举报原因" readonly="readonly" class="jb-reason" />
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <textarea autocomplete="off" class="content" name="content" placeholder="举报内容"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<style scoped>
</style>
<script>
    return {
        data: function () {
            return {

            }
        },
        methods: {
            submit: function () {
                var self = this;
                if (self.pickerJBReason.getValue()) {
                    var content = $$('#jubao .content').val();
                    if (content) {
                        var reason = self.pickerJBReason.getValue()[0];

                        app.f7Net.post(api, {
                            r: 'user/report',
                            id: self.$route.query.id,
                            idtype: self.$route.query.type,
                            message: '[' + reason + ']' + content,
                            accessToken: Template7.global.user.token,
                            accessSecret: Template7.global.user.secret,
                        }, function (data) {
                            app.dialog.alert(data.head.errInfo, function () {
                                self.$router.back();
                            });
                        });
                    } else {
                        app.dialog.alert('请填写举报内容');
                    }
                } else {
                    app.dialog.alert('请选择举报原因');
                }
            }
        },
        on: {
            pageMounted: function (e, page) {

            },
            pageInit: function (e, page) {
                var self = this;
                self.pickerJBReason = app.picker.create({
                    inputEl: '#jubao .jb-reason',
                    cols: [{
                        textAlign: 'center',
                        values: ['成人内容', '政治内容', '粗俗内容', '其他内容'],
                        displayValues: ['成人内容', '政治内容', '粗俗内容', '其他内容'],
                    }]
                });

                // thread：举报主题
                // user：举报用户
                // post：举报回帖
                // group：举报群组
                // blog：举报日志
                // pic：举报图片
                // album：举报相册
            },
            pageBeforeIn: function (e, page) {

            },
            pageAfterIn: function (e, page) {

            },
            pageBeforeOut: function (e, page) {

            },
            pageAfterOut: function (e, page) {

            },
            pageBeforeRemove: function (e, page) {

            },
        }
    }
</script>