<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">登录</div>
            </div>
        </div>
        <div id="login" class="page-content">
            <div class="list no-hairlines">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">用户名<span class="text-color-red">*</span></div>
                            <div class="item-input-wrap">
                                <input type="text" name="username" class="username" placeholder="请输入用户名">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">密码<span class="text-color-red">*</span></div>
                            <div class="item-input-wrap">
                                <input type="password" name="password" class="password" placeholder="请输入密码">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="block">
                <div class="row">
                    <button class="col button button-fill" @click="login">登录</button>
                </div>
            </div>
            <div class="block text-align-center">
                <a href="/register/" class="item-link list-button">注册</a>
            </div>
        </div>
    </div>
</template>
<style scoped>
</style>
<script>
    return {
        data: function () {
            return {

            }
        },
        methods: {
            login: function () {
                var self = this;
                var username = $$('#login .username').val();
                if (!username) {
                    app.dialog.alert('请输入用户名');
                    return;
                }
                var password = $$('#login .password').val();
                if (!password) {
                    app.dialog.alert('请输入密码');
                    return;
                }
                app.f7Net.json(api, {
                    r: 'user/login',
                    username: username,
                    password: password,
                }, function (data) {
                    var err = app.methods.resError(data);
                    if (err) {
                        app.dialog.alert(err);
                    } else {
                        var user = {
                            uid: data.uid,
                            token: data.token,
                            secret: data.secret,
                            userName: data.userName,
                            avatar: data.avatar,
                        }
                        _.assign(Template7.global.user, user);
                        app.methods.heart();
                        app.f7Storage.cache(app.name + 'user', user, function () {
                            self.$router.back();
                        }, function (err) {});
                    }
                });
            }
        },
        on: {
            pageMounted: function (e, page) {

            },
            pageInit: function (e, page) {

            },
            pageBeforeIn: function (e, page) {

            },
            pageAfterIn: function (e, page) {

            },
            pageBeforeOut: function (e, page) {

            },
            pageAfterOut: function (e, page) {

            },
            pageBeforeRemove: function (e, page) {

            },
        }
    }
</script>