<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">回复</div>
                <div class="right">
                    <a @click="pub()" href="#" class="link">发表</a>
                </div>
            </div>
        </div>
        <div id="reply" class="page-content">
            <form class="list form-store-data no-margin">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <textarea name="content" class="content" placeholder="内容"></textarea>
                            </div>
                        </div>
                    </li>
                    {{#js_if "app.device.cordova"}}
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">添加照片</div>
                            <div class="item-input-wrap">
                                <div class="imgs row block justify-content-flex-start img-content no-margin">
                                    <a @click="addImg()" href="#" class="col-25 margin">
                                        <img src="./img/addimg.svg" alt="" width="100%">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="audioBar">
                        <div class="item-content">
                            <div class="item-media">
                                <img src="./img/yuyin.svg" alt="">
                            </div>
                            <div @click="recordAudio" class="item-inner">
                                <div class="item-title text-color-blue">附加语音</div>
                            </div>
                        </div>
                    </li>
                    <li class="audioBar display-none">
                        <div class="item-content">
                            <div class="item-media">
                                <img src="./img/audio.svg" alt="">
                            </div>
                            <div class="item-inner">
                                <div class="range-slider">
                                </div>
                            </div>
                            <div @click="playAudio()" class="item-media">
                                <img class="audioStatus" src="./img/play.svg" alt="">
                            </div>
                            <div @click="deleteAudio()" class="item-media">
                                <img src="./img/delete.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="margin-top">
                        <div class="item-content">
                            <div class="item-media">
                                <img src="./img/weizhi.svg" alt="">
                            </div>
                            <div class="item-inner">
                                <div class="item-title text-full">{{@global.position.address}}</div>
                            </div>
                        </div>
                    </li>
                    {{/js_if}}
                </ul>
            </form>
        </div>
    </div>
</template>
<style scoped>
    .img-content {
        padding: 0;
    }
</style>
<script>
    return {
        data: function () {
            return {
                addImgTemplates: Template7.compile(app.methods.getTemplate('addimg')),
                cameraTemplates: app.methods.getTemplate('camera'),
                photolibTemplates: app.methods.getTemplate('photolib'),
                recorder: null,
                recordTimer: 0,
                audioStatus: 'play',
                audioSlider: null,
                playStep: 0,
                recordPath: null,
                imgs: [],
            }
        },
        methods: {
            pub: function () {
                var self = this;
                var reply = {};
                var body = [];
                var aid = [];

                if ($$('#reply .content').val()) {
                    body.push({
                        type: 0,
                        infor: $$('#reply .content').val()
                    });
                } else {
                    app.dialog.alert('请填写内容');
                    return;
                }

                app.f7Popup.loading();

                async.parallel([
                        function (callback) {
                            if (self.recordPath) {
                                var options = new FileUploadOptions();
                                options.fileKey = "uploadFile[]";
                                options.fileName = self.recordPath.substr(self.recordPath.lastIndexOf('/') + 1,
                                    self.recordPath.lastIndexOf('.')) + '.mp3';
                                options.mimeType = "audio/mp3";
                                options.params = {
                                    r: 'forum/sendattachmentex',
                                    type: 'audio',
                                    module: 'forum',
                                    accessToken: Template7.global.user.token,
                                    accessSecret: Template7.global.user.secret,
                                };

                                var ft = new FileTransfer();
                                ft.upload(self.recordPath, mobcent, function (r) {
                                        var res = JSON.parse(r['response']);
                                        if (res['rs'] && res['body']['attachment']['length'] > 0) {
                                            body.push({
                                                type: 3,
                                                infor: res['body']['attachment'][0]['urlName']
                                            });
                                            aid.push(res['body']['attachment'][0]['id']);
                                        }
                                        callback(null);
                                    },
                                    function (err) {
                                        console.log(err);
                                        callback(null);
                                    },
                                    options);
                            } else {
                                callback(null);
                            }
                        },
                        function (callback) {
                            if (self.imgs.length > 0) {
                                var options = new FileUploadOptions();
                                options.fileKey = "uploadFile[]";
                                options.mimeType = "image/jpeg";
                                options.params = {
                                    r: 'forum/sendattachmentex',
                                    type: 'image',
                                    module: 'forum',
                                    accessToken: Template7.global.user.token,
                                    accessSecret: Template7.global.user.secret,
                                };
                                async.each(self.imgs, function (img, callback) {
                                    options.fileName = img.substr(img.lastIndexOf('/') + 1, img.lastIndexOf(
                                        '.')) + '.jpeg';
                                    var ft = new FileTransfer();
                                    ft.upload(img, mobcent, function (r) {
                                            var res = JSON.parse(r['response']);
                                            if (res['rs'] && res['body']['attachment']['length'] >
                                                0) {
                                                body.push({
                                                    type: 1,
                                                    infor: res['body']['attachment'][0][
                                                        'urlName'
                                                    ]
                                                });
                                                aid.push(res['body']['attachment'][0]['id']);
                                            }
                                            callback(null);
                                        },
                                        function (err) {
                                            console.log(err);
                                            callback(null);
                                        },
                                        options);
                                }, function (err) {
                                    callback(err);
                                });
                            } else {
                                callback(null);
                            }
                        }
                    ],
                    function (err, results) {
                        reply.fid = self.$route.query.fid;
                        reply.tid = self.$route.query.tid;
                        reply.replyId = self.$route.query.replyId;
                        reply.isShowPostion = 1;
                        reply.location = Template7.global.position.address;
                        reply.longitude = Template7.global.position.longitude;
                        reply.latitude = Template7.global.position.latitude;
                        reply.aid = aid.join();
                        reply.isOnlyAuthor = 0;
                        reply.isAnonymous = 0;
                        reply.isQuote = self.$route.query.isQuote || 0;
                        reply.content = JSON.stringify(body);

                        app.f7Net.post(api, {
                            r: 'forum/topicadmin',
                            act: 'reply',
                            platType: Framework7.device.ios ? 5 : 1,
                            accessToken: Template7.global.user.token,
                            accessSecret: Template7.global.user.secret,
                            json: JSON.stringify({
                                body: {
                                    json: reply
                                }
                            })
                        }, function (data) {
                            var err = app.methods.resError(data);
                            if (err) {
                                app.dialog.alert(err);
                            } else {
                                app.dialog.alert('回复成功', function () {
                                    self.$router.back();
                                });
                            }
                        });
                    });
            },
            recordAudio: function () {
                var self = this;
                app.f7Media.recordAudio(function (path, timer) {
                    self.recordPath = path;
                    self.recordTimer = timer;

                    if (self.recordTimer < 3) {
                        app.f7Media.destroyAudio();
                        self.recordPath = null;
                        self.recordTimer = 0;
                        app.dialog.alert('录音时间太短');
                    } else {
                        if (self.audioSlider)
                            self.audioSlider.destroy();

                        self.audioSlider = app.range.create({
                            el: '.range-slider',
                            min: 0,
                            max: self.recordTimer,
                            step: 1,
                            value: 0,
                        });
                        self.playStep = 0;

                        $$('.audioBar').toggleClass('display-none');
                    }
                });
            },
            playAudio: function () {
                var self = this;
                if ('play' == self.audioStatus) {
                    app.f7Media.playAudio(self.recordPath);
                    self.audioStatus = 'stop';
                    self.playInterval = setInterval(function () {
                        if (self.playStep == self.recordTimer) {
                            self.playStep = 0;
                            clearInterval(self.playInterval);
                            self.audioStatus = 'play';
                            $$('#reply .audioStatus').attr('src', './img/' + self.audioStatus + '.svg');
                        } else {
                            self.playStep++;
                            self.audioSlider.setValue(self.playStep);
                        }
                    }, 1000);
                } else {
                    clearInterval(self.playInterval);
                    app.f7Media.pauseAudio();
                    self.audioStatus = 'play';
                }
                $$('#reply .audioStatus').attr('src', './img/' + self.audioStatus + '.svg');
            },
            deleteAudio: function () {
                var self = this;
                app.f7Media.releaseAudio();
                app.f7Media.destroyAudio();
                self.recordPath = null;
                $$('.audioBar').toggleClass('display-none');
            },
            addImg: function () {
                var self = this;
                self.chooseImg.open();
            },
            reImg: function () {
                var self = this;
                self.imgsEl.find('.add-img').remove();

                var h = '';
                for (var i = 0; i < self.imgs.length; i++) {
                    h += self.addImgTemplates({
                        img: self.imgs[i],
                        idx: i
                    });
                }

                self.imgsEl.prepend(h);
            },
        },
        on: {
            pageMounted: function (e, page) {

            },
            pageInit: function (e, page) {
                var self = this;
                self.chooseImg = app.actions.create({
                    buttons: [{
                            text: self.photolibTemplates,
                            onClick: function (actions, e) {
                                app.f7Media.getImgFromPhotoLib(function (img) {
                                    self.imgs.push(img);
                                    self.reImg();
                                });
                            }
                        },
                        {
                            text: self.cameraTemplates,
                            onClick: function (actions, e) {
                                app.f7Media.getImgFromCamera(function (img) {
                                    self.imgs.push(img);
                                    self.reImg();
                                });
                            }
                        },
                    ]
                });

                self.imgsEl = self.$el.find('#reply .imgs');
                self.imgsEl.on('click', '.remove-img', function (e) {
                    var idx = $$(this).data('idx');
                    self.imgs.splice(idx, 1);
                    self.reImg();
                });
            },
            pageBeforeIn: function (e, page) {

            },
            pageAfterIn: function (e, page) {

            },
            pageBeforeOut: function (e, page) {

            },
            pageAfterOut: function (e, page) {

            },
            pageBeforeRemove: function (e, page) {
                var self = this;
                if (navigator.camera)
                    app.f7Media.destroyCamera();
                if (self.playInterval)
                    clearInterval(self.playInterval);
                if (self.audioSlider)
                    self.audioSlider.destroy();
            },
        }
    }
</script>