<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">搜索</div>
                <div class="subnavbar">
                    <div class="searchbar">
                        <div class="searchbar-inner">
                            <div class="searchbar-input-wrap">
                                <input id="search-keyword" type="search" placeholder="请输入关键字" />
                                <i class="searchbar-icon"></i>
                                <span class="input-clear-button"></span>
                            </div>
                            <span class="searchbar-disable-button">取消</span>
                            <div @click="search()" class="button button-fill margin-right-little">查询</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content ptr-content infinite-scroll-content">
            <div class="list media-list virtual-list no-margin no-hairlines">
            </div>
        </div>
    </div>
</template>
<style scoped>
</style>
<script>
    return {
        data: function () {
            return {
                itemTemplate: app.methods.getTemplate('topic'),
                emptyTemplate: app.methods.getTemplate('empty'),
                allowLoad: true,
                hasMore: true,
                page: 1,
            }
        },
        methods: {
            search: function () {
                var self = this;
                app.data.cache.searchKeyword = $$('#search-keyword').val();
                self.reload();
            },
            reload: function (id, name) {
                var self = this;
                if (self.allowLoad && app.data.cache.searchKeyword) {
                    self.allowLoad = false;
                    self.page = 1;
                    app.f7Net.json(api, {
                        r: 'forum/search',
                        keyword: app.data.cache.searchKeyword,
                        page: self.page,
                        pageSize: app.data.pageSize,
                        accessToken: Template7.global.user.token,
                        accessSecret: Template7.global.user.secret,
                    }, function (data) {
                        self.allowLoad = true;
                        self.hasMore = data.list.length == app.data.pageSize;
                        self.vl.deleteAllItems();
                        self.vl.appendItems(data.list);
                    }, function () {
                        self.allowLoad = true;
                    });
                }
            },
        },
        on: {
            'ptr:refresh': function (e, done) {
                var self = this;
                self.reload();
                done();
            },
            'infinite': function () {
                var self = this;
                if (self.allowLoad && self.hasMore && app.data.cache.searchKeyword) {
                    self.allowLoad = false;
                    self.page += 1;
                    app.f7Net.json(api, {
                        r: 'forum/search',
                        keyword: app.data.cache.searchKeyword,
                        page: self.page,
                        pageSize: app.data.pageSize,
                        accessToken: Template7.global.user.token,
                        accessSecret: Template7.global.user.secret,
                    }, function (data) {
                        self.allowLoad = true;
                        self.hasMore = data.list.length == app.data.pageSize;
                        self.vl.appendItems(data.list);
                    }, function () {
                        self.allowLoad = true;
                    });

                }
            },
            pageMounted: function (e, page) {

            },
            pageInit: function (e, page) {
                var self = this;
                $$('#search-keyword').val(app.data.cache.searchKeyword);
                var vlEl = self.$el.find('.virtual-list');
                self.vl = self.$app.virtualList.create({
                    el: vlEl,
                    items: [],
                    rowsBefore: app.data.pageSize,
                    rowsAfter: app.data.pageSize,
                    itemTemplate: self.itemTemplate,
                    emptyTemplate: self.emptyTemplate,
                    height: app.data.tmpTopicH,
                });
            },
            pageBeforeIn: function (e, page) {

            },
            pageAfterIn: function (e, page) {

            },
            pageBeforeOut: function (e, page) {

            },
            pageAfterOut: function (e, page) {

            },
            pageBeforeRemove: function (e, page) {

            },
        }
    }
</script>