<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">Ta的主页</div>
                <div class="right">
                    <a class="link popover-open" data-popover=".popover-menu">
                        <img src="./img/more.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="popover popover-menu">
            <div class="popover-angle"></div>
            <div class="popover-inner">
                <div class="list">
                    <ul>
                        <li>
                            <a @click="toggle('black')" class="item-link item-content popover-close">
                                <div class="item-inner">
                                    <div id="ta-action-black" class="item-title">{{#if ta.is_black}}取消拉黑{{else}}拉黑{{/if}}</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/jubao/?type=user&id={{ta.taid}}" class="item-link item-content popover-close">
                                <div class="item-inner">
                                    <div class="item-title">举报</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="list media-list no-margin">
                <ul>
                    <li>
                        <a href="#" class="item-content">
                            <div class="item-media">
                                <img class="lazy max-80" data-src="{{ta.icon}}" />
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">{{ta.name}}</div>
                                </div>
                                <div class="item-text">
                                    <span class="margin-right">积分：{{ta.credits}}</span>金币：{{ta.gold_num}}</div>
                                <div class="item-subtitle text-color-orange">
                                    {{ta.userTitle}}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <a href="/ta/ziliao/" class="item-link item-content">
                            <div class="item-media">
                                <img src="./img/ziliao.svg" alt="">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Ta的资料</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/ta/xiangce/" class="item-link item-content">
                            <div class="item-media">
                                <img src="./img/xiangce.svg" alt="">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Ta的相册</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <a href="/ta/fabiao/" class="item-link item-content">
                            <div class="item-media">
                                <img src="./img/fabiao.svg" alt="">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Ta的发表</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/ta/huifu/" class="item-link item-content">
                            <div class="item-media">
                                <img src="./img/huifu.svg" alt="">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Ta的回复</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="toolbar toolbar-bottom-md">
            <div class="toolbar-inner">
                <a @click="toggle('friend')" class="link">
                    <i class="iconfont icon-friendaddfill"></i>
                    <span id="ta-action-friend">{{#if ta.isFriend}}删除好友{{else}}加好友{{/if}}</span>
                </a>
                <a @click="toggle('follow')" class="link">
                    <i class="iconfont icon-tianchongxing-"></i>
                    <span id="ta-action-follow">{{#if ta.is_follow}}取消关注{{else}}关注{{/if}}</span>
                </a>
                <a href="/chat/?fromUid={{ta.taid}}" class="link">
                    <i class="iconfont icon-Chat-"></i>
                    <span>聊天</span>
                </a>
            </div>
        </div>
    </div>
</template>
<style scoped>
</style>
<script>
    return {
        data: function () {
            return {
                friend: ['加好友', '删除好友'],
                follow: ['关注', '取消关注'],
                black: ['拉黑', '取消拉黑'],
            }
        },
        methods: {
            toggle: function (action) {
                var self = this;
                switch (action) {
                    case 'friend':
                        app.f7Browser.blank(api + '?' + app.utils.serializeObject({
                            r: 'user/useradminview',
                            uid: self.ta.taid,
                            act: self.ta.isFriend ? 'ignore' : 'add',
                            accessToken: Template7.global.user.token,
                            accessSecret: Template7.global.user.secret,
                        }), 'returnmobileview', function () {
                            self.ta.isFriend = !self.ta.isFriend;
                            $$('#ta-action-friend').text(self.ta.isFriend ? self.friend[1] : self.friend[0]);
                        });
                        break;
                    case 'follow':
                        app.dialog.confirm('确定' + (self.ta.is_follow ? self.follow[1] : self.follow[0]) + '?',
                            function () {
                                if (true) {
                                    app.f7Net.json(api, {
                                        r: 'user/useradmin',
                                        uid: self.ta.taid,
                                        type: self.ta.is_follow ? 'unfollow' : 'follow',
                                        accessToken: Template7.global.user.token,
                                        accessSecret: Template7.global.user.secret,
                                    }, function (data) {
                                        self.ta.is_follow = !self.ta.is_follow;
                                        $$('#ta-action-follow').text(self.ta.is_follow ? self.follow[1] :
                                            self.follow[0]);
                                        app.dialog.alert(data.head.errInfo);
                                    });
                                }
                            });
                        break;
                    case 'black':
                        app.dialog.confirm('确定' + (self.ta.is_black ? self.black[1] : self.black[0]) + '?',
                            function () {
                                if (true) {
                                    app.f7Net.json(api, {
                                        r: 'user/useradmin',
                                        uid: self.ta.taid,
                                        type: self.ta.is_black ? 'delblack' : 'black',
                                        accessToken: Template7.global.user.token,
                                        accessSecret: Template7.global.user.secret,
                                    }, function (data) {
                                        self.ta.is_black = !self.ta.is_black;
                                        $$('#ta-action-black').text(self.ta.is_black ? self.black[1] :
                                            self.black[0]);
                                        app.dialog.alert(data.head.errInfo);
                                    });
                                }
                            });
                        break;
                }
            },
        },
        on: {
            pageMounted: function (e, page) {

            },
            pageInit: function (e, page) {

            },
            pageBeforeIn: function (e, page) {

            },
            pageAfterIn: function (e, page) {

            },
            pageBeforeOut: function (e, page) {

            },
            pageAfterOut: function (e, page) {

            },
            pageBeforeRemove: function (e, page) {

            },
        }
    }
</script>