<div class="message message-sent">
    <div class="message-avatar" style="background-image:url({{avatar}})"></div>
    <div class="message-content">
        <div class="message-name">{{name}}</div>
        <div class="message-bubble">
            {{#js_if "this.type == 'text'"}}
            <div class="message-text">
                {{js "app.methods.mobcentPhiz(this.content)"}}
            </div>
            {{/js_if}}
            {{#js_if "this.type == 'image'"}}
            <div class="message-image">
                <img onclick="app.f7Media.showImg('{{content}}')" src="{{content}}" class="chat-img">
            </div>
            {{/js_if}}
        </div>
    </div>
</div>