
<div class="block">
    <div class="row">
        <div class="col">
            <div class="elevation-12">
                <div onclick="app.f7Media.showImg('{{this[0].origin_pic}}')" class="card">
                    <div style="background-image:url({{this[0].thumb_pic}})" class="card-header align-items-flex-end">
                        {{js "timeago.format(this[0].release_date)"}}
                    </div>
                    <div class="card-content card-content-padding">
                        <p class="text-color-gray">{{this[0].title}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {{#if this[1]}}
            <div class="elevation-12">
                <div onclick="app.f7Media.showImg('{{this[0].origin_pic}}')" class="card">
                    <div style="background-image:url({{this[1].thumb_pic}})" class="card-header align-items-flex-end">
                        {{js "timeago.format(this[1].release_date)"}}
                    </div>
                    <div class="card-content card-content-padding">
                        <p class="text-color-gray">{{this[1].title}}</p>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>