<li>
    <div class="item-link no-ripple item-content">
        <div data-uid="{{reply_id}}" data-pid="{{reply_posts_id}}" class="item-media popover-open handle-user"
            data-popover=".popover-user">
            <img class="lazy max-50" data-src="{{icon}}" />
        </div>
        <div class="item-inner">
            <div class="item-title-row" style="background: inherit;">
                <div class="item-title">{{reply_name}}</div>
                <div class="item-after text-color-gray">{{position}}楼</div>
            </div>
            <div class="item-subtitle text-color-orange">{{userTitle}}</div>
            <div class="block no-margin">
                {{#each reply_content}}
                <!-- 0：文本；1：图片；3：音频; 4:链接; 5：附件 -->
                {{#js_if "this.type == 0"}}
                {{js "app.methods.mobcentPhiz(this.infor)"}}
                {{/js_if}}
                {{#js_if "this.type == 1"}}
                <img onclick="app.f7Media.showImg('{{infor}}')" class="lazy infor-img" data-src="{{infor}}" />
                {{/js_if}}
                {{#js_if "this.type == 3"}}
                <br>
                <audio controls src="{{infor}}"></audio>
                <br>
                {{/js_if}}
                {{#js_if "this.type == 4"}}
                <a onclick="app.f7Browser.system('{{url}}')" href="#" class="link">{{infor}}</a>
                {{/js_if}}
                {{#js_if "this.type == 5"}}
                <a onclick="app.f7Browser.system('{{url}}')" href="#" class="link">{{infor}}</a>
                {{/js_if}}
                {{/each}}
            </div>
            <div class="block bg-color-gray text-color-white margin-top opacity-6">{{quote_content}}</div>

            <div class="item-text item-footer margin-top display-flex justify-content-space-between">
                <div></div>
                <div>
                    <span data-uid="{{reply_id}}" data-pid="{{reply_posts_id}}" class="margin-right handle-zan">
                        <img class="text-icon" src="./img/zan.svg" />
                    </span>
                    <span data-uid="{{reply_id}}" data-pid="{{reply_posts_id}}" class="margin-right handle-reply">
                        <img class="text-icon" src="./img/reply.svg" />
                    </span>
                    <span data-uid="{{reply_id}}" data-pid="{{reply_posts_id}}" class="popover-open handle-more"
                        data-popover=".popover-jb-reply">
                        <img class="text-icon" src="./img/gongneng.svg" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</li>