<li class="tmp-topic-h" data-id="{{topic_id}}">
    <a href="/topic/?topicId={{topic_id}}" class="item-link item-content">
        <div class="item-inner">
            <div class="item-title-row">
                <div class="item-title">{{title}}</div>
            </div>
            <div class="item-text">{{subject}}{{subject}}</div>
            <div class="item-text item-footer margin-top display-flex justify-content-space-between">
                <div>
                    <i class="iconfont icon-icon-time" style="font-size: 14px;"></i>
                    <span>{{js "timeago.format(this.last_reply_date)"}}
                    </span>
                    <!-- <span class="text-limit">{{board_name}}</span> -->
                    <span class="text-limit text-color-blue margin-left">{{user_nick_name}}</span>
                </div>
                <div>
                    <i class="iconfont icon-see" style="font-size: 14px;"></i>
                    <span>
                        {{hits}}</span>
                    <i class="iconfont icon-chat" style="font-size: 14px;"></i>
                    <span>
                        {{replies}}</span>
                </div>
            </div>
        </div>
    </a>
</li>