<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">我的相册</div>
                <!-- {{#js_if "app.device.cordova"}}
                <div class="right">
                    <a href="/self/xiangce/upload/" class="link">上传</a>
                </div>
                {{/js_if}} -->
            </div>
        </div>
        <div class="page-content ptr-content infinite-scroll-content">
            <div class="list media-list virtual-list no-margin no-hairlines">
            </div>
        </div>
    </div>
</template>
<style scoped>
    .card {
        margin: 0;
    }

    .card .card-header {
        height: 40vw;
        background-size: cover;
        background-position: center;
        color: #fff;
    }
</style>
<script>
    return {
        data: function () {
            return {
                itemTemplate: app.methods.getTemplate('albums'),
                emptyTemplate: app.methods.getTemplate('empty'),
                allowLoad: true,
                hasMore: true,
                page: 1,
            }
        },
        methods: {
            reload: function () {
                var self = this;
                if (self.allowLoad) {
                    self.allowLoad = false;
                    self.page = 1;
                    app.f7Net.json(api, {
                            r: 'user/albumlist',
                            uid: Template7.global.user.uid,
                            page: self.page,
                            pageSize: app.data.pageSize,
                            accessToken: Template7.global.user.token,
                            accessSecret: Template7.global.user.secret,
                        },
                        function (data) {
                            self.allowLoad = true;
                            self.hasMore = data.list.length == app.data.pageSize;
                            self.vl.deleteAllItems();
                            if (data.list.length % 2 == 1) {
                                data.list.push(null);
                            }
                            self.vl.appendItems(_.chunk(data.list, 2));
                        },
                        function () {
                            self.allowLoad = true;
                        });
                }
            },
        },
        on: {
            'ptr:refresh': function (e, done) {
                var self = this;
                self.reload();
                done();
            },
            'infinite': function () {
                var self = this;
                if (self.allowLoad && self.hasMore) {
                    self.allowLoad = false;
                    self.page += 1;
                    app.f7Net.json(api, {
                        r: 'user/albumlist',
                        uid: Template7.global.user.uid,
                        page: self.page,
                        pageSize: app.data.pageSize,
                        accessToken: Template7.global.user.token,
                        accessSecret: Template7.global.user.secret,
                    }, function (data) {
                        self.allowLoad = true;
                        self.hasMore = data.list.length == app.data.pageSize;
                        if (data.list.length % 2 == 1) {
                            data.list.push(null);
                        }
                        self.vl.appendItems(_.chunk(data.list, 2));
                    }, function () {
                        self.allowLoad = true;
                    });
                }
            },
            pageMounted: function (e, page) {

            },
            pageInit: function (e, page) {
                var self = this;
                var vlEl = self.$el.find('.virtual-list');
                self.vl = self.$app.virtualList.create({
                    el: vlEl,
                    items: app.data.cache.albums,
                    rowsBefore: app.data.pageSize,
                    rowsAfter: app.data.pageSize,
                    height: app.data.tmpPhotosH,
                    itemTemplate: self.itemTemplate,
                    emptyTemplate: self.emptyTemplate
                });

                if (app.data.cache.albums.length == 0) {
                    self.reload();
                }
            },
            pageBeforeIn: function (e, page) {

            },
            pageAfterIn: function (e, page) {

            },
            pageBeforeOut: function (e, page) {

            },
            pageAfterOut: function (e, page) {

            },
            pageBeforeRemove: function (e, page) {
                var self = this;
                app.data.cache.albums = self.vl.items;
                self.vl.destroy();
            },
        }
    }
</script>