<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">Ta的资料</div>
            </div>
        </div>
        <div class="page-content">
            {{#each ta.body.profileList}}
            <div class="row block">
                <div class="col-30">
                    {{title}}
                </div>
                <div class="col-70 text-color-gray">
                    {{data}}
                </div>
            </div>
            {{/each}} {{#each ta.body.creditList}}
            <div class="row block">
                <div class="col-30">
                    {{title}}
                </div>
                <div class="col-70 text-color-gray">
                    {{data}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</template>
<style scoped>
</style>
<script>
    return {
        data: function () {
            return {
                ta: app.data.cache.ta
            }
        },
        methods: {

        },
        on: {
            pageMounted: function (e, page) {

            },
            pageInit: function (e, page) {

            },
            pageBeforeIn: function (e, page) {

            },
            pageAfterIn: function (e, page) {

            },
            pageBeforeOut: function (e, page) {

            },
            pageAfterOut: function (e, page) {

            },
            pageBeforeRemove: function (e, page) {

            },
        }
    }
</script>